.mybutton {
  background-color: #7e51ff;
  border: 3px solid #000;
  color: #cecece;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #aabbff;
}

.footer {
  margin-top: 100%;
}