$colors: ('button': ('text': ('dark': #262626, 'light': #cecece ), 'bg': ('basic': #7e51ff, 'accent': #ffab00), 'border': #000 ), 'scrollbar': #aabbff)


@function color_one_key($key)
  @return map-get($colors, $key)
    
@function color_two_key($key1, $key2)  
  @return map-get($colors, $key1, $key2)

@function color_three_key($key1, $key2, $key3)
  @return map-get($colors, $key1, $key2, $key3)

.mybutton 
  background-color: color_three_key('button', 'bg', 'basic')
  border: 3px solid color_two_key('button', 'border')
  color: color_three_key('button', 'text', 'light')

::-webkit-scrollbar 
  width: 20px

::-webkit-scrollbar-thumb 
  background: color_one_key('scrollbar')
 
.footer
  margin-top: 100%
  